.interactive-board {
  display: flex;

  .column {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background: none;
  }
}

.point-container {
  &:not(:last-child) {
    border-bottom: 1px solid black;
  }

  padding: 0.5rem;
}
